# IntelliJ IDEA
.idea/
*.iml

# Maven
**/target/
**/reports/

# Allure
**/.allure/
**/allure-results/
**/allure-report/
**/allure-report-archive/
**/local-allure-history/*
!**/local-allure-history/.gitignore

# OpenAPI Generator metadata
**/.openapi-generator/

# Operating systems
.DS_Store
Thumbs.db
Desktop.ini

#MCP-Server
/.codex/config.toml